# Python bytecode / cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/interim/
data/processed/

# IDE / editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db